<a href="https://colab.research.google.com/github/aquangnguyen1992/Advanced_Data_Science_Capstone/blob/master/Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Get the dataset from Kaggle***

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"
!kaggle competitions download -c ieee-fraud-detection
!unzip \*.zip  && rm *.zip

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train_identity.csv.zip to /content
  0% 0.00/3.26M [00:00<?, ?B/s]
100% 3.26M/3.26M [00:00<00:00, 110MB/s]
Downloading test_identity.csv.zip to /content
  0% 0.00/3.21M [00:00<?, ?B/s]
100% 3.21M/3.21M [00:00<00:00, 106MB/s]
Downloading test_transaction.csv.zip to /content
 82% 43.0M/52.2M [00:00<00:00, 30.9MB/s]
100% 52.2M/52.2M [00:01<00:00, 53.5MB/s]
Downloading train_transaction.csv.zip to /content
 93% 54.0M/58.3M [00:00<00:00, 50.3MB/s]
100% 58.3M/58.3M [00:00<00:00, 62.9MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/1.14M [00:00<?, ?B/s]
100% 1.14M/1.14M [00:00<00:00, 163MB/s]
Archive:  train_identity.csv.zip
  inflating: train_identity.csv

Archive:  test_identity.csv.zip
  inflating: test_identity.csv

Archive:  test_transaction.csv.zip
  inflating: test_transaction.csv

Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv

Archive:  train_transaction.csv.zip
  inflating: train_transaction.csv

5 archives were successfully processed.

# ***Analyzing the dataset and doing the cleansing***

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import copy

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [108]:
os.chdir("/content")
dataset_transaction = pd.read_csv('train_transaction.csv')
dataset_transaction.head(5)

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN
2        2987002        0          86469  ...   NaN  NaN   NaN
3        2987003        0          86499  ...   NaN  NaN   NaN
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 394 columns]

In [75]:
dataset_identity = pd.read_csv('train_identity.csv')
dataset_identity.head(5)

   TransactionID  id_01  ...  DeviceType                     DeviceInfo
0        2987004    0.0  ...      mobile  SAMSUNG SM-G892A Build/NRD90M
1        2987008   -5.0  ...      mobile                     iOS Device
2        2987010   -5.0  ...     desktop                        Windows
3        2987011   -5.0  ...     desktop                            NaN
4        2987016    0.0  ...     desktop                          MacOS

[5 rows x 41 columns]

In [6]:
dataset_identity.columns

Index(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06',
       'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14',
       'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22',
       'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30',
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')

In [7]:
dataset_transaction.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338',
       'V339'],
      dtype='object', length=394)

**Check NaN, Null, and OneHotEncoding**

In [109]:
float_columns = dataset_transaction.columns[np.where(dataset_transaction.dtypes == np.dtype('float64'))].to_list()
int_columns = dataset_transaction.columns[np.where(dataset_transaction.dtypes == np.dtype('int64'))].to_list()
obj_columns = dataset_transaction.columns[np.where(dataset_transaction.dtypes == np.dtype('O'))].to_list()

skip_int_columns = ['TransactionID', 'isFraud']
for column in skip_int_columns:
  int_columns.remove(column)

In [110]:
def normalization_data(X, indices):
  X_out = copy.copy(X)
  X_temp = X[indices]
  X_out.iloc[indices] = (X_temp-np.mean(X_temp))/(np.max(X_temp)-np.min(X_temp))
  X_out.iloc[np.where(np.isnan(X_out))[0]] = 0.0
  return np.min(X_temp), np.max(X_temp), np.mean(X_temp), X_out

In [111]:
import copy
data_backup = copy.copy(dataset_transaction)
data_backup.head(5)

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN
2        2987002        0          86469  ...   NaN  NaN   NaN
3        2987003        0          86499  ...   NaN  NaN   NaN
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 394 columns]

In [65]:
# Task 1: Detect the columns with NaN and code it with an extra features
# To-Do: Task 2: Apply normalizationn
cache = dict()
dataset_transaction = copy.copy(data_backup)
for column in float_columns:
  if np.any(np.isnan(dataset_transaction[column].values)):
    dataset_transaction[column].astype('float16')
    X = dataset_transaction[column]
    indices = np.where(np.isnan(dataset_transaction[column]) == False)[0]
    cache[column+'_min'], cache[column+'_max'], cache[column+'_mean'], a = normalization_data(X, indices)
    #print(len(a.to_list()), len(indices))
    #dataset_transaction[indices, column] = a.to_list()
    dataset_transaction[column + "_NaN_Code"] = np.isnan(dataset_transaction[column].values).astype('int8')
    dataset_transaction.loc[np.where(np.isnan(dataset_transaction[column].values))[0], column] = 0.0

In [66]:
print(cache)

{'card2_min': 100.0, 'card2_max': 600.0, 'card2_mean': 362.5554884999665, 'card3_min': 100.0, 'card3_max': 231.0, 'card3_mean': 153.19492508170975, 'card5_min': 100.0, 'card5_max': 237.0, 'card5_mean': 199.27889697943476, 'addr1_min': 100.0, 'addr1_max': 540.0, 'addr1_mean': 290.73379392341195, 'addr2_min': 10.0, 'addr2_max': 102.0, 'addr2_mean': 86.80063029453122, 'dist1_min': 0.0, 'dist1_max': 10286.0, 'dist1_mean': 118.50218030881064, 'dist2_min': 0.0, 'dist2_max': 11623.0, 'dist2_mean': 231.85542296754988, 'D1_min': 0.0, 'D1_max': 640.0, 'D1_mean': 94.34756843625429, 'D2_min': 0.0, 'D2_max': 640.0, 'D2_mean': 169.56323145317248, 'D3_min': 0.0, 'D3_max': 819.0, 'D3_mean': 28.343347718075332, 'D4_min': -122.0, 'D4_max': 869.0, 'D4_mean': 140.0024405978872, 'D5_min': 0.0, 'D5_max': 819.0, 'D5_mean': 42.33596485915518, 'D6_min': -83.0, 'D6_max': 873.0, 'D6_mean': 69.80571686228429, 'D7_min': 0.0, 'D7_max': 843.0, 'D7_mean': 41.63894955931855, 'D8_min': 0.0, 'D8_max': 1707.7916259765625, 'D8_mean': 146.0581076468787, 'D9_min': 0.0, 'D9_max': 0.9583330154418944, 'D9_mean': 0.5610571265961662, 'D10_min': 0.0, 'D10_max': 876.0, 'D10_mean': 123.98213667937759, 'D11_min': -53.0, 'D11_max': 670.0, 'D11_mean': 146.6214654959149, 'D12_min': -83.0, 'D12_max': 648.0, 'D12_mean': 54.03753264211876, 'D13_min': 0.0, 'D13_max': 847.0, 'D13_mean': 17.901294550619834, 'D14_min': -193.0, 'D14_max': 878.0, 'D14_mean': 57.724444015630276, 'D15_min': -83.0, 'D15_max': 879.0, 'D15_mean': 163.744578971615, 'V1_min': 0.0, 'V1_max': 1.0, 'V1_mean': 0.9999453820525425, 'V2_min': 0.0, 'V2_max': 8.0, 'V2_mean': 1.0452043835722065, 'V3_min': 0.0, 'V3_max': 9.0, 'V3_mean': 1.0780747494803262, 'V4_min': 0.0, 'V4_max': 6.0, 'V4_mean': 0.8464560984151157, 'V5_min': 0.0, 'V5_max': 6.0, 'V5_mean': 0.8769907438643162, 'V6_min': 0.0, 'V6_max': 9.0, 'V6_mean': 1.0456863066380082, 'V7_min': 0.0, 'V7_max': 9.0, 'V7_mean': 1.072869980369667, 'V8_min': 0.0, 'V8_max': 8.0, 'V8_mean': 1.0277041506427247, 'V9_min': 0.0, 'V9_max': 8.0, 'V9_mean': 1.0415289169903583, 'V10_min': 0.0, 'V10_max': 4.0, 'V10_mean': 0.4639152072429824, 'V11_min': 0.0, 'V11_max': 5.0, 'V11_mean': 0.47898654792082324, 'V12_min': 0.0, 'V12_max': 3.0, 'V12_mean': 0.5597113128733233, 'V13_min': 0.0, 'V13_max': 6.0, 'V13_mean': 0.5991657385216156, 'V14_min': 0.0, 'V14_max': 1.0, 'V14_mean': 0.9995004538677894, 'V15_min': 0.0, 'V15_max': 7.0, 'V15_mean': 0.12234215216913816, 'V16_min': 0.0, 'V16_max': 15.0, 'V16_mean': 0.12345981374898682, 'V17_min': 0.0, 'V17_max': 15.0, 'V17_mean': 0.1340396954517977, 'V18_min': 0.0, 'V18_max': 15.0, 'V18_mean': 0.13536339551419235, 'V19_min': 0.0, 'V19_max': 7.0, 'V19_mean': 0.8163711180697693, 'V20_min': 0.0, 'V20_max': 15.0, 'V20_mean': 0.8478425243990382, 'V21_min': 0.0, 'V21_max': 5.0, 'V21_mean': 0.12968373092929186, 'V22_min': 0.0, 'V22_max': 8.0, 'V22_mean': 0.13229225586869517, 'V23_min': 0.0, 'V23_max': 13.0, 'V23_mean': 1.0347913471612369, 'V24_min': 0.0, 'V24_max': 13.0, 'V24_mean': 1.0580970208001679, 'V25_min': 0.0, 'V25_max': 7.0, 'V25_mean': 0.9776603747179119, 'V26_min': 0.0, 'V26_max': 13.0, 'V26_mean': 0.9880400492159847, 'V27_min': 0.0, 'V27_max': 4.0, 'V27_mean': 0.0007755599484515042, 'V28_min': 0.0, 'V28_max': 4.0, 'V28_mean': 0.0008299852079919606, 'V29_min': 0.0, 'V29_max': 5.0, 'V29_mean': 0.3878402307631004, 'V30_min': 0.0, 'V30_max': 9.0, 'V30_mean': 0.40643617569251284, 'V31_min': 0.0, 'V31_max': 7.0, 'V31_mean': 0.14076121500504404, 'V32_min': 0.0, 'V32_max': 15.0, 'V32_mean': 0.14241729790248936, 'V33_min': 0.0, 'V33_max': 7.0, 'V33_mean': 0.1306925419900596, 'V34_min': 0.0, 'V34_max': 13.0, 'V34_mean': 0.1391537260893313, 'V35_min': 0.0, 'V35_max': 3.0, 'V35_mean': 0.5425942486556239, 'V36_min': 0.0, 'V36_max': 5.0, 'V36_mean': 0.5791978100960455, 'V37_min': 0.0, 'V37_max': 54.0, 'V37_mean': 1.1080648336816337, 'V38_min': 0.0, 'V38_max': 54.0, 'V38_mean': 1.1623996906808105, 'V39_min': 0.0, 'V39_max': 15.0, 'V39_mean': 0.16607641417459929, 'V40_min': 0.0, 'V40_max': 24.0, 'V40_mean': 0.17714453793074003, 'V41_min': 0.0, 'V41_max': 1.0, 'V41_mean': 0.9992693994605891, 'V42_min': 0.0, 'V42_max': 8.0, 'V42_mean': 0.15611842370561543, 'V43_min': 0.0, 'V43_max': 8.0, 'V43_mean': 0.16894188642008107, 'V44_min': 0.0, 'V44_max': 48.0, 'V44_mean': 1.0838909697298913, 'V45_min': 0.0, 'V45_max': 48.0, 'V45_mean': 1.1207791807311225, 'V46_min': 0.0, 'V46_max': 6.0, 'V46_mean': 1.0222856885317064, 'V47_min': 0.0, 'V47_max': 12.0, 'V47_mean': 1.0385154576571918, 'V48_min': 0.0, 'V48_max': 5.0, 'V48_mean': 0.3831738900446188, 'V49_min': 0.0, 'V49_max': 5.0, 'V49_mean': 0.39772422676132846, 'V50_min': 0.0, 'V50_max': 5.0, 'V50_mean': 0.16474567747781513, 'V51_min': 0.0, 'V51_max': 6.0, 'V51_mean': 0.1705786213947354, 'V52_min': 0.0, 'V52_max': 12.0, 'V52_mean': 0.18269520436652426, 'V53_min': 0.0, 'V53_max': 5.0, 'V53_mean': 0.5775858710979191, 'V54_min': 0.0, 'V54_max': 6.0, 'V54_mean': 0.6199819259744003, 'V55_min': 0.0, 'V55_max': 17.0, 'V55_mean': 1.0676704762349936, 'V56_min': 0.0, 'V56_max': 51.0, 'V56_mean': 1.1209791135936928, 'V57_min': 0.0, 'V57_max': 6.0, 'V57_mean': 0.12831194833321646, 'V58_min': 0.0, 'V58_max': 10.0, 'V58_mean': 0.13245261411176293, 'V59_min': 0.0, 'V59_max': 16.0, 'V59_mean': 0.13443335592586533, 'V60_min': 0.0, 'V60_max': 16.0, 'V60_mean': 0.14253745296468553, 'V61_min': 0.0, 'V61_max': 6.0, 'V61_mean': 0.8297847477037418, 'V62_min': 0.0, 'V62_max': 10.0, 'V62_mean': 0.8675629669447885, 'V63_min': 0.0, 'V63_max': 7.0, 'V63_mean': 0.13074259315524187, 'V64_min': 0.0, 'V64_max': 7.0, 'V64_mean': 0.14182461962745693, 'V65_min': 0.0, 'V65_max': 1.0, 'V65_mean': 0.999663059652075, 'V66_min': 0.0, 'V66_max': 7.0, 'V66_mean': 0.9810378541768917, 'V67_min': 0.0, 'V67_max': 8.0, 'V67_mean': 0.998120535053482, 'V68_min': 0.0, 'V68_max': 2.0, 'V68_mean': 0.0005336511868869828, 'V69_min': 0.0, 'V69_max': 5.0, 'V69_mean': 0.3902002944819688, 'V70_min': 0.0, 'V70_max': 6.0, 'V70_mean': 0.4079237463092372, 'V71_min': 0.0, 'V71_max': 6.0, 'V71_mean': 0.1406385116974782, 'V72_min': 0.0, 'V72_max': 10.0, 'V72_mean': 0.14512390835222536, 'V73_min': 0.0, 'V73_max': 7.0, 'V73_mean': 0.1399821596902486, 'V74_min': 0.0, 'V74_max': 8.0, 'V74_mean': 0.1521470695927891, 'V75_min': 0.0, 'V75_max': 4.0, 'V75_mean': 0.5442781465407199, 'V76_min': 0.0, 'V76_max': 6.0, 'V76_mean': 0.5875570430176156, 'V77_min': 0.0, 'V77_max': 30.0, 'V77_mean': 1.0868928708195047, 'V78_min': 0.0, 'V78_max': 31.0, 'V78_mean': 1.1444624393668623, 'V79_min': 0.0, 'V79_max': 7.0, 'V79_mean': 0.13686734107735513, 'V80_min': 0.0, 'V80_max': 19.0, 'V80_mean': 0.14395383903497574, 'V81_min': 0.0, 'V81_max': 19.0, 'V81_mean': 0.15269578121010977, 'V82_min': 0.0, 'V82_max': 7.0, 'V82_mean': 0.8446096342864438, 'V83_min': 0.0, 'V83_max': 7.0, 'V83_mean': 0.8819648327801889, 'V84_min': 0.0, 'V84_max': 7.0, 'V84_mean': 0.13714457812101097, 'V85_min': 0.0, 'V85_max': 7.0, 'V85_mean': 0.14978778401838141, 'V86_min': 0.0, 'V86_max': 30.0, 'V86_mean': 1.0648854352821036, 'V87_min': 0.0, 'V87_max': 30.0, 'V87_mean': 1.0994562962726577, 'V88_min': 0.0, 'V88_max': 1.0, 'V88_mean': 0.9992460748021444, 'V89_min': 0.0, 'V89_max': 2.0, 'V89_mean': 0.0009015190196579014, 'V90_min': 0.0, 'V90_max': 5.0, 'V90_mean': 0.40186207556803677, 'V91_min': 0.0, 'V91_max': 6.0, 'V91_mean': 0.42046089162624456, 'V92_min': 0.0, 'V92_max': 7.0, 'V92_mean': 0.15032231299463875, 'V93_min': 0.0, 'V93_max': 7.0, 'V93_mean': 0.15481195749297932, 'V94_min': 0.0, 'V94_max': 2.0, 'V94_mean': 0.13700695685473577, 'V95_min': 0.0, 'V95_max': 880.0, 'V95_mean': 1.038019334966606, 'V96_min': 0.0, 'V96_max': 1410.0, 'V96_mean': 3.0051895375669657, 'V97_min': 0.0, 'V97_max': 976.0, 'V97_mean': 1.7189330866481654, 'V98_min': 0.0, 'V98_max': 12.0, 'V98_mean': 0.06198473127242785, 'V99_min': 0.0, 'V99_max': 88.0, 'V99_mean': 0.8949859884179958, 'V100_min': 0.0, 'V100_max': 28.0, 'V100_mean': 0.27350370874885216, 'V101_min': 0.0, 'V101_max': 869.0, 'V101_mean': 0.8892492028477227, 'V102_min': 0.0, 'V102_max': 1285.0, 'V102_mean': 1.8272288919837485, 'V103_min': 0.0, 'V103_max': 928.0, 'V103_mean': 1.2792879337745202, 'V104_min': 0.0, 'V104_max': 15.0, 'V104_mean': 0.08543337636769645, 'V105_min': 0.0, 'V105_max': 99.0, 'V105_mean': 0.28114484959998376, 'V106_min': 0.0, 'V106_max': 55.0, 'V106_mean': 0.1645844134280767, 'V107_min': 0.0, 'V107_max': 1.0, 'V107_mean': 0.999579821966501, 'V108_min': 0.0, 'V108_max': 7.0, 'V108_mean': 1.0046134870371688, 'V109_min': 0.0, 'V109_max': 7.0, 'V109_mean': 1.0148163584796333, 'V110_min': 0.0, 'V110_max': 7.0, 'V110_mean': 1.00773940829445, 'V111_min': 0.0, 'V111_max': 9.0, 'V111_mean': 1.002563424857597, 'V112_min': 0.0, 'V112_max': 9.0, 'V112_mean': 1.0053555756608485, 'V113_min': 0.0, 'V113_max': 9.0, 'V113_mean': 1.0033834497294256, 'V114_min': 0.0, 'V114_max': 6.0, 'V114_mean': 1.0092981332574302, 'V115_min': 0.0, 'V115_max': 6.0, 'V115_mean': 1.0324502817564798, 'V116_min': 0.0, 'V116_max': 6.0, 'V116_mean': 1.0157380393273086, 'V117_min': 0.0, 'V117_max': 3.0, 'V117_mean': 1.000391375507009, 'V118_min': 0.0, 'V118_max': 3.0, 'V118_mean': 1.001474011649775, 'V119_min': 0.0, 'V119_max': 3.0, 'V119_mean': 1.0007285344935668, 'V120_min': 0.0, 'V120_max': 3.0, 'V120_mean': 1.0008742413922802, 'V121_min': 0.0, 'V121_max': 3.0, 'V121_mean': 1.004276328050611, 'V122_min': 0.0, 'V122_max': 3.0, 'V122_mean': 1.0017586483821452, 'V123_min': 0.0, 'V123_max': 13.0, 'V123_mean': 1.0311202827391541, 'V124_min': 0.0, 'V124_max': 13.0, 'V124_mean': 1.0929745555092456, 'V125_min': 0.0, 'V125_max': 13.0, 'V125_mean': 1.0504145869548274, 'V126_min': 0.0, 'V126_max': 160000.0, 'V126_mean': 129.97941710470164, 'V127_min': 0.0, 'V127_max': 160000.0, 'V127_mean': 336.6115585155757, 'V128_min': 0.0, 'V128_max': 160000.0, 'V128_mean': 204.09403837496455, 'V129_min': 0.0, 'V129_max': 55125.0, 'V129_mean': 8.768944125254277, 'V130_min': 0.0, 'V130_max': 55125.0, 'V130_mean': 92.16584942117251, 'V131_min': 0.0, 'V131_max': 55125.0, 'V131_mean': 31.133302173183154, 'V132_min': 0.0, 'V132_max': 93736.0, 'V132_mean': 103.51318849235776, 'V133_min': 0.0, 'V133_max': 133915.0, 'V133_mean': 204.88915980030455, 'V134_min': 0.0, 'V134_max': 98476.0, 'V134_mean': 145.97232754635542, 'V135_min': 0.0, 'V135_max': 90750.0, 'V135_mean': 17.25013217816419, 'V136_min': 0.0, 'V136_max': 90750.0, 'V136_mean': 38.82119582327327, 'V137_min': 0.0, 'V137_max': 90750.0, 'V137_mean': 26.365089844530424, 'V138_min': 0.0, 'V138_max': 22.0, 'V138_mean': 0.036439074989322105, 'V139_min': 0.0, 'V139_max': 33.0, 'V139_mean': 1.073915431081823, 'V140_min': 0.0, 'V140_max': 33.0, 'V140_mean': 1.12526694734273, 'V141_min': 0.0, 'V141_max': 5.0, 'V141_mean': 0.037696015620233086, 'V142_min': 0.0, 'V142_max': 9.0, 'V142_mean': 0.048581365550064065, 'V143_min': 0.0, 'V143_max': 869.0, 'V143_mean': 8.397005527693377, 'V144_min': 0.0, 'V144_max': 62.0, 'V144_mean': 3.7084843382020964, 'V145_min': 0.0, 'V145_max': 297.0, 'V145_mean': 22.112945540627937, 'V146_min': 0.0, 'V146_max': 24.0, 'V146_mean': 0.1562755506742327, 'V147_min': 0.0, 'V147_max': 26.0, 'V147_mean': 0.16860089084141802, 'V148_min': 0.0, 'V148_max': 20.0, 'V148_mean': 0.7650009152480323, 'V149_min': 0.0, 'V149_max': 20.0, 'V149_mean': 0.7753127097443407, 'V150_min': 1.0, 'V150_max': 3389.0, 'V150_mean': 277.5980280899562, 'V151_min': 1.0, 'V151_max': 57.0, 'V151_mean': 6.460189625507925, 'V152_min': 1.0, 'V152_max': 69.0, 'V152_mean': 9.432709789996462, 'V153_min': 0.0, 'V153_max': 18.0, 'V153_mean': 0.7532003172859845, 'V154_min': 0.0, 'V154_max': 18.0, 'V154_mean': 0.7574226615412777, 'V155_min': 0.0, 'V155_max': 24.0, 'V155_mean': 0.7673805601317957, 'V156_min': 0.0, 'V156_max': 24.0, 'V156_mean': 0.7774848984074684, 'V157_min': 0.0, 'V157_max': 24.0, 'V157_mean': 0.8175727622185612, 'V158_min': 0.0, 'V158_max': 24.0, 'V158_mean': 0.8334614680578437, 'V159_min': 0.0, 'V159_max': 55125.0, 'V159_mean': 2719.2997751396206, 'V160_min': 0.0, 'V160_max': 641511.4375, 'V160_mean': 47453.181172848184, 'V161_min': 0.0, 'V161_max': 3300.0, 'V161_mean': 4.843938007199951, 'V162_min': 0.0, 'V162_max': 3300.0, 'V162_mean': 6.594661053145402, 'V163_min': 0.0, 'V163_max': 3300.0, 'V163_mean': 5.505955213862957, 'V164_min': 0.0, 'V164_max': 93736.0, 'V164_mean': 877.8889283442782, 'V165_min': 0.0, 'V165_max': 98476.0, 'V165_mean': 2239.912219119266, 'V166_min': 0.0, 'V166_max': 104060.0, 'V166_mean': 359.46943747462996, 'V167_min': 0.0, 'V167_max': 872.0, 'V167_mean': 3.9295142196217174, 'V168_min': 0.0, 'V168_max': 964.0, 'V168_mean': 5.859501113649547, 'V169_min': 0.0, 'V169_max': 19.0, 'V169_mean': 0.16805298278488617, 'V170_min': 0.0, 'V170_max': 48.0, 'V170_mean': 1.4367789785365366, 'V171_min': 0.0, 'V171_max': 61.0, 'V171_mean': 1.6909075304500818, 'V172_min': 0.0, 'V172_max': 31.0, 'V172_mean': 0.13201223224069153, 'V173_min': 0.0, 'V173_max': 7.0, 'V173_mean': 0.05523128818099133, 'V174_min': 0.0, 'V174_max': 8.0, 'V174_mean': 0.12779379054348836, 'V175_min': 0.0, 'V175_max': 14.0, 'V175_mean': 0.21263919782003876, 'V176_min': 0.0, 'V176_max': 48.0, 'V176_mean': 1.3769793240755992, 'V177_min': 0.0, 'V177_max': 861.0, 'V177_mean': 3.529244938444901, 'V178_min': 0.0, 'V178_max': 1235.0, 'V178_mean': 6.64928275239739, 'V179_min': 0.0, 'V179_max': 920.0, 'V179_mean': 4.86901189563922, 'V180_min': 0.0, 'V180_max': 83.0, 'V180_mean': 0.9241233308777776, 'V181_min': 0.0, 'V181_max': 24.0, 'V181_mean': 0.2533319964764272, 'V182_min': 0.0, 'V182_max': 83.0, 'V182_mean': 0.8562425249407366, 'V183_min': 0.0, 'V183_max': 41.0, 'V183_mean': 0.48469179480201385, 'V184_min': 0.0, 'V184_max': 16.0, 'V184_mean': 0.13236398486614837, 'V185_min': 0.0, 'V185_max': 31.0, 'V185_mean': 0.1739034036861943, 'V186_min': 0.0, 'V186_max': 38.0, 'V186_mean': 1.148799335391138, 'V187_min': 0.0, 'V187_max': 218.0, 'V187_mean': 1.8437524618458652, 'V188_min': 0.0, 'V188_max': 30.0, 'V188_mean': 1.0147547901215141, 'V189_min': 0.0, 'V189_max': 30.0, 'V189_mean': 1.038313820010156, 'V190_min': 0.0, 'V190_max': 42.0, 'V190_mean': 1.2130830546225408, 'V191_min': 0.0, 'V191_max': 21.0, 'V191_mean': 1.0589840364961935, 'V192_min': 0.0, 'V192_max': 44.0, 'V192_mean': 1.2373613309365399, 'V193_min': 0.0, 'V193_max': 37.0, 'V193_mean': 1.149844948471328, 'V194_min': 0.0, 'V194_max': 7.0, 'V194_mean': 0.9457727490541342, 'V195_min': 0.0, 'V195_max': 16.0, 'V195_mean': 0.9542265357354865, 'V196_min': 0.0, 'V196_max': 38.0, 'V196_mean': 1.084580071760569, 'V197_min': 0.0, 'V197_max': 14.0, 'V197_mean': 0.949384561468756, 'V198_min': 0.0, 'V198_max': 21.0, 'V198_mean': 0.9619508078301232, 'V199_min': 0.0, 'V199_max': 45.0, 'V199_mean': 1.270749332168358, 'V200_min': 0.0, 'V200_max': 45.0, 'V200_mean': 1.1199765410995643, 'V201_min': 0.0, 'V201_max': 55.0, 'V201_mean': 1.159105700941932, 'V202_min': 0.0, 'V202_max': 104060.0, 'V202_mean': 444.14714222093323, 'V203_min': 0.0, 'V203_max': 139777.0, 'V203_mean': 1078.3275380768232, 'V204_min': 0.0, 'V204_max': 104060.0, 'V204_mean': 686.9569308033108, 'V205_min': 0.0, 'V205_max': 55125.0, 'V205_mean': 18.060416619178316, 'V206_min': 0.0, 'V206_max': 55125.0, 'V206_mean': 6.189360056666066, 'V207_min': 0.0, 'V207_max': 55125.0, 'V207_mean': 72.28409784694104, 'V208_min': 0.0, 'V208_max': 3300.0, 'V208_mean': 8.888193245857666, 'V209_min': 0.0, 'V209_max': 8050.0, 'V209_mean': 35.00187177443491, 'V210_min': 0.0, 'V210_max': 3300.0, 'V210_mean': 14.391834928471646, 'V211_min': 0.0, 'V211_max': 92888.0, 'V211_mean': 385.1370373715462, 'V212_min': 0.0, 'V212_max': 129006.0, 'V212_mean': 765.9883389453579, 'V213_min': 0.0, 'V213_max': 97628.0, 'V213_mean': 536.3028021990133, 'V214_min': 0.0, 'V214_max': 104060.0, 'V214_mean': 38.43754734545601, 'V215_min': 0.0, 'V215_max': 104060.0, 'V215_mean': 133.20821668528237, 'V216_min': 0.0, 'V216_max': 104060.0, 'V216_mean': 71.1071429504061, 'V217_min': 0.0, 'V217_max': 303.0, 'V217_mean': 1.0546193360423215, 'V218_min': 0.0, 'V218_max': 400.0, 'V218_mean': 1.7257839454113317, 'V219_min': 0.0, 'V219_max': 378.0, 'V219_mean': 1.3671317948324773, 'V220_min': 0.0, 'V220_max': 25.0, 'V220_mean': 0.1694716298014369, 'V221_min': 0.0, 'V221_max': 384.0, 'V221_mean': 1.2749123154381399, 'V222_min': 0.0, 'V222_max': 384.0, 'V222_mean': 1.3590046387961758, 'V223_min': 0.0, 'V223_max': 16.0, 'V223_mean': 0.09315341562523959, 'V224_min': 0.0, 'V224_max': 144.0, 'V224_mean': 0.3947481407651614, 'V225_min': 0.0, 'V225_max': 51.0, 'V225_mean': 0.191758031127808, 'V226_min': 0.0, 'V226_max': 242.0, 'V226_mean': 0.24761174576401135, 'V227_min': 0.0, 'V227_max': 360.0, 'V227_mean': 0.14797476947445834, 'V228_min': 0.0, 'V228_max': 54.0, 'V228_mean': 1.3519282373687036, 'V229_min': 0.0, 'V229_max': 176.0, 'V229_mean': 1.638710419382044, 'V230_min': 0.0, 'V230_max': 65.0, 'V230_mean': 1.4654757341102507, 'V231_min': 0.0, 'V231_max': 293.0, 'V231_mean': 0.7655064019014031, 'V232_min': 0.0, 'V232_max': 337.0, 'V232_mean': 1.0055968718853026, 'V233_min': 0.0, 'V233_max': 332.0, 'V233_mean': 0.9083876408801657, 'V234_min': 0.0, 'V234_max': 121.0, 'V234_mean': 2.0928466368727725, 'V235_min': 0.0, 'V235_max': 23.0, 'V235_mean': 0.18410641723529864, 'V236_min': 0.0, 'V236_max': 45.0, 'V236_mean': 0.30766694778808557, 'V237_min': 0.0, 'V237_max': 39.0, 'V237_mean': 0.25349996166526106, 'V238_min': 0.0, 'V238_max': 23.0, 'V238_mean': 0.12795581829495956, 'V239_min': 0.0, 'V239_max': 23.0, 'V239_mean': 0.1369646998925157, 'V240_min': 0.0, 'V240_max': 7.0, 'V240_mean': 1.0009967032124512, 'V241_min': 0.0, 'V241_max': 5.0, 'V241_mean': 1.0002376753814306, 'V242_min': 0.0, 'V242_max': 20.0, 'V242_mean': 1.1134631603158782, 'V243_min': 0.0, 'V243_max': 57.0, 'V243_mean': 1.178386874185387, 'V244_min': 0.0, 'V244_max': 22.0, 'V244_mean': 1.1185616805949552, 'V245_min': 0.0, 'V245_max': 262.0, 'V245_mean': 0.8766193358601573, 'V246_min': 0.0, 'V246_max': 45.0, 'V246_mean': 1.1837230698458943, 'V247_min': 0.0, 'V247_max': 18.0, 'V247_mean': 1.0253545963351989, 'V248_min': 0.0, 'V248_max': 36.0, 'V248_mean': 1.0694932147512075, 'V249_min': 0.0, 'V249_max': 22.0, 'V249_mean': 1.0428505711876102, 'V250_min': 0.0, 'V250_max': 18.0, 'V250_mean': 0.7885882785540533, 'V251_min': 0.0, 'V251_max': 18.0, 'V251_mean': 0.7942312043898851, 'V252_min': 0.0, 'V252_max': 24.0, 'V252_mean': 1.0320478417541976, 'V253_min': 0.0, 'V253_max': 163.0, 'V253_mean': 1.1621636126657977, 'V254_min': 0.0, 'V254_max': 60.0, 'V254_mean': 1.0751130874798742, 'V255_min': 0.0, 'V255_max': 87.0, 'V255_mean': 0.8066555410986027, 'V256_min': 0.0, 'V256_max': 87.0, 'V256_mean': 0.8149502177971375, 'V257_min': 0.0, 'V257_max': 48.0, 'V257_mean': 1.250992869738557, 'V258_min': 0.0, 'V258_max': 66.0, 'V258_mean': 1.3435099286973855, 'V259_min': 0.0, 'V259_max': 285.0, 'V259_mean': 0.9678324942015047, 'V260_min': 0.0, 'V260_max': 8.0, 'V260_mean': 0.964425362263283, 'V261_min': 0.0, 'V261_max': 49.0, 'V261_mean': 1.1071609292340718, 'V262_min': 0.0, 'V262_max': 20.0, 'V262_mean': 1.0132791535689643, 'V263_min': 0.0, 'V263_max': 153600.0, 'V263_mean': 117.39067638525977, 'V264_min': 0.0, 'V264_max': 153600.0, 'V264_mean': 201.6576173337795, 'V265_min': 0.0, 'V265_max': 153600.0, 'V265_mean': 153.52053442846727, 'V266_min': 0.0, 'V266_max': 55125.0, 'V266_mean': 9.16783868355349, 'V267_min': 0.0, 'V267_max': 55125.0, 'V267_mean': 36.52510270804343, 'V268_min': 0.0, 'V268_max': 55125.0, 'V268_mean': 18.81340677515849, 'V269_min': 0.0, 'V269_max': 55125.0, 'V269_mean': 5.997508241968872, 'V270_min': 0.0, 'V270_max': 4000.0, 'V270_mean': 7.712763702852514, 'V271_min': 0.0, 'V271_max': 4000.0, 'V271_mean': 9.445132757467785, 'V272_min': 0.0, 'V272_max': 4000.0, 'V272_mean': 8.464571089970137, 'V273_min': 0.0, 'V273_max': 51200.0, 'V273_mean': 73.82554901333562, 'V274_min': 0.0, 'V274_max': 66000.0, 'V274_mean': 107.15163631434068, 'V275_min': 0.0, 'V275_max': 51200.0, 'V275_mean': 88.8999387265088, 'V276_min': 0

In [ ]:
for column in int_columns:
  if np.any(np.isnan(dataset_transaction[column].values)):
    dataset_transaction[column].astype('int32')
    dataset_transaction[column + "_NaN_Code"] = np.isnan(dataset_transaction[column].values).astype('int8')
    dataset_transaction.loc[np.where(np.isnan(dataset_transaction[column].values))[0], column] = 0

In [ ]:
dataset_transaction.head(5)

   TransactionID  isFraud  ...  V338_NaN_Code  V339_NaN_Code
0        2987000        0  ...              1              1
1        2987001        0  ...              1              1
2        2987002        0  ...              1              1
3        2987003        0  ...              1              1
4        2987004        0  ...              0              0

[5 rows x 755 columns]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
for column in obj_columns:
  ohc = OneHotEncoder()
  dataset_transaction.loc[np.where(dataset_transaction[column].isnull())[0], column] = 'Null'
  encoded = ohc.fit_transform(dataset_transaction[column].values.reshape(-1,1)).toarray()    
  pd_encoded = pd.DataFrame(encoded.astype('int8'), columns=[column+"_"+str(i) for i in range(len(np.unique(dataset_transaction[column].astype('str'))))])
  dataset_transaction = pd.concat([dataset_transaction, pd_encoded], axis=1)

for column in obj_columns:
  try:
    dataset_transaction.pop(column)
  except KeyError:
    pass
dataset_transaction.head(5)

   TransactionID  isFraud  TransactionDT  ...  M9_0  M9_1  M9_2
0        2987000        0          86400  ...     0     1     0
1        2987001        0          86401  ...     0     1     0
2        2987002        0          86469  ...     1     0     0
3        2987003        0          86499  ...     0     1     0
4        2987004        0          86506  ...     0     1     0

[5 rows x 905 columns]

In [ ]:
print(np.any(np.isnan(dataset_transaction)), np.any(dataset_transaction.isnull()))

False False

**Normalization**

In [16]:
float_columns

['TransactionAmt',
 'card2',
 'card3',
 'card5',
 'addr1',
 'addr2',
 'dist1',
 'dist2',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'D1',
 'D2',
 'D3',
 'D4',
 'D5',
 'D6',
 'D7',
 'D8',
 'D9',
 'D10',
 'D11',
 'D12',
 'D13',
 'D14',
 'D15',
 'V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V55',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V64',
 'V65',
 'V66',
 'V67',
 'V68',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74',
 'V75',
 'V76',
 'V77',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V84',
 'V85',
 'V86',
 'V87',
 'V88',
 'V89',
 'V90',
 'V91',
 'V92',
 'V93',
 'V94',
 'V95',
 'V96',
 'V97',
 'V98',
 'V99',
 'V100',
 'V101',
 'V102',
 'V103',
 'V104',
 'V105',
 'V106',
 'V107',
 'V108',
 'V109',
 'V110',
 'V111',
 'V112',
 'V113',
 'V114',
 'V115',
 'V116',
 'V117',
 'V118',
 'V119',
 'V120',
 'V121',
 'V122',
 'V123',
 'V124',
 'V125',
 'V126',
 'V127',
 'V128',
 'V129',
 'V130',
 'V131',
 'V132',
 'V133',
 'V134',
 'V135',
 'V136',
 'V137',
 'V138',
 'V139',
 'V140',
 'V141',
 'V142',
 'V143',
 'V144',
 'V145',
 'V146',
 'V147',
 'V148',
 'V149',
 'V150',
 'V151',
 'V152',
 'V153',
 'V154',
 'V155',
 'V156',
 'V157',
 'V158',
 'V159',
 'V160',
 'V161',
 'V162',
 'V163',
 'V164',
 'V165',
 'V166',
 'V167',
 'V168',
 'V169',
 'V170',
 'V171',
 'V172',
 'V173',
 'V174',
 'V175',
 'V176',
 'V177',
 'V178',
 'V179',
 'V180',
 'V181',
 'V182',
 'V183',
 'V184',
 'V185',
 'V186',
 'V187',
 'V188',
 'V189',
 'V190',
 'V191',
 'V192',
 'V193',
 'V194',
 'V195',
 'V196',
 'V197',
 'V198',
 'V199',
 'V200',
 'V201',
 'V202',
 'V203',
 'V204',
 'V205',
 'V206',
 'V207',
 'V208',
 'V209',
 'V210',
 'V211',
 'V212',
 'V213',
 'V214',
 'V215',
 'V216',
 'V217',
 'V218',
 'V219',
 'V220',
 'V221',
 'V222',
 'V223',
 'V224',
 'V225',
 'V226',
 'V227',
 'V228',
 'V229',
 'V230',
 'V231',
 'V232',
 'V233',
 'V234',
 'V235',
 'V236',
 'V237',
 'V238',
 'V239',
 'V240',
 'V241',
 'V242',
 'V243',
 'V244',
 'V245',
 'V246',
 'V247',
 'V248',
 'V249',
 'V250',
 'V251',
 'V252',
 'V253',
 'V254',
 'V255',
 'V256',
 'V257',
 'V258',
 'V259',
 'V260',
 'V261',
 'V262',
 'V263',
 'V264',
 'V265',
 'V266',
 'V267',
 'V268',
 'V269',
 'V270',
 'V271',
 'V272',
 'V273',
 'V274',
 'V275',
 'V276',
 'V277',
 'V278',
 'V279',
 'V280',
 'V281',
 'V282',
 'V283',
 'V284',
 'V285',
 'V286',
 'V287',
 'V288',
 'V289',
 'V290',
 'V291',
 'V292',
 'V293',
 'V294',
 'V295',
 'V296',
 'V297',
 'V298',
 'V299',
 'V300',
 'V301',
 'V302',
 'V303',
 'V304',
 'V305',
 'V306',
 'V307',
 'V308',
 'V309',
 'V310',
 'V311',
 'V312',
 'V313',
 'V314',
 'V315',
 'V316',
 'V317',
 'V318',
 'V319',
 'V320',
 'V321',
 'V322',
 'V323',
 'V324',
 'V325',
 'V326',
 'V327',
 'V328',
 'V329',
 'V330',
 'V331',
 'V332',
 'V333',
 'V334',
 'V335',
 'V336',
 'V337',
 'V338',
 'V339']

In [99]:
np.any(dataset_transaction['V331'].isnull())
a = dataset_transaction['V331']
print(np.min(a), np.max(a), np.any(dataset_transaction['V331'].isnull()))

0.0 160000.0 True

In [100]:
def normalization_data(X, indices):
  X_out = copy.copy(X)
  X_temp = X[indices]
  X_out.iloc[indices] = (X_temp-np.mean(X_temp))/(np.max(X_temp)-np.min(X_temp))
  X_out.iloc[np.where(np.isnan(X_out))[0]] = 0.0
  return np.min(X_temp), np.max(X_temp), np.mean(X_temp), X_out

In [104]:
indices = np.where(np.isnan(a) == False)[0]
min_value, max_value, mean_value, normalized_data = normalization_data(a, indices)
print(min_value, max_value, mean_value, np.mean(normalized_data), np.min(normalized_data), np.max(normalized_data))
dataset_transaction['V331'] = normalized_data

0.0 160000.0 721.7418829164045 -2.2733716828843707e-16 -0.004510886768227528 0.9954891132317726

In [107]:
dataset_transaction['V331']

0         0.000000
1         0.000000
2         0.000000
3         0.000000
4        -0.004511
            ...
590535    0.000000
590536    0.000000
590537    0.000000
590538    0.000000
590539    0.000000
Name: V331, Length: 590540, dtype: float64

**Train val dataset**